html {
  font-size: 15px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Lobster", cursive; /* this should be the rest of the output you got from Google fonts */
  background-color: #2be8e3;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #03817f;
  text-shadow: 3px 3px 1px WHITE;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #b4faf9;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img {
  width: 600px;
  display: block;
  margin: 0 auto;
}
